{{- $toc := .TableOfContents }}
{{- if $toc }}
<aside class="toc-sidebar hidden lg:block">
  <div class="sticky top-24">
    <nav class="menu bg-base-200 rounded-box p-4 max-h-[calc(100vh-8rem)] overflow-y-auto shadow-sm" id="toc-nav">
      <div class="menu-title mb-3 text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
        </svg>
        {{ i18n "article.table_of_contents" | default "Table of Contents" }}
      </div>
      <div class="toc-content prose-sm">
        {{ $toc | safeHTML }}
      </div>
    </nav>
  </div>
</aside>
{{- end }}
